.container {
  color:white;
  text-shadow: 2px 2px 5px #000000;
  padding-top: 10px;
}

body {
  padding-top: 56px;
}

.bg-image-full {
  background-size: cover;
}

img{
  max-height:300px;
}

.card{
  background-color:dimgray;
}



